* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.board {
    border: 3px solid black;
    height: 75vh;
    width: 75vh;
    display: grid;
    justify-content: stretch;
}

.block {
    border: 1px solid black;
    transition: 250ms ease-in;
}

.grid {
    border: none;
}

#container {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

#options {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 25%;
    justify-content: space-around;
}

button {
    width: 75%;
    font-size: 1.5em;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    transition: 250ms ease-in;
}

button:hover {
    background-color: black;
    color: white;
}

span {
    font-size: 1.5em;
}

#slider{
    width: 75%;
}

#size {
    width: 100%;
    margin: 1em 0;
}